doctype html(lang='en')
head
    meta(charset='UTF-8')   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')   
    meta(http-equiv='X-UA-Compatible', content='ie=edge')  
    title Tutoria
    |    

    link(rel='stylesheet', href="/css/home.css")
    
  body
    .page
      .container
        .brand
          h1.brand_name
            img(src='Images/UCP2.png', alt='UCP Logo', width='250px')                   
            .header_cnt
              h3
                strong ¿Tienes dudas con alguna materia?                       
              h5
                span
                  strong Pide tu tutoria con un profesor de la UCP                         
              a.btn(href='blockchain/formulario') Pedir Tutoria
